<% @menu = "about" %>


<h1>About Me</h1>

<img id="family" class="thumb" src="family.jpg" alt="family">

<p>I am a 39 year old stay-at-home Dad that stepped away from the classroom after our son was born in 2004.  
I have remained at home to assist in the care giving for my profoundly handicapped brother who lives with us.</p>

<p>I have resided in Northeast Ohio for almost 40 years, living in Solon for the last few years.</p>

<img id="danielle" class="thumb" src="danielle.jpg" alt="danielle and deaglan">
<p>I am married to Danielle (Selan) Bryant.  My wife and I are the proud parents of a 7 years old son. He is a 
second grader at Lewis Elementary in the Solon City Schools.  I am the product of public schools, having attended 
the same district from K - 12.  I wanted the same for my son, in a great district.  When it comes to educational 
experiences, opportunities and diversity, there is no place that can compare to Solon.</p>

<h1>Education</h1>

<p>I was impacted by superior teachers growing up, and was raised by parents who truly valued education and the 
opportunities it can provide. My father was a PhD research chemist at Lubrizol; my mother was a high school English 
teacher.  I graduated from Euclid High School in 1990.  I received my undergraduate degree in Elementary Education 
with a concentration in mathematics from John Carroll University.  Later, I returned to John Carroll, earning my 
Masters in School Administration.</p>

<h1>Employment</h1>

<div>
	
	<div class="sidebar">
	<h2>At a Glance</h2>

	<p><strong>Euclid City Schools 1999-2004</strong><br>
	5th & 6th Grade Math Teacher</p>

	<p><strong>Orange City Schools 1995-1999</strong><br>
	1st Grade & Middle School Math Teacher</p>

	<p><strong>City of Euclid Early 1990s</strong><br>
	Pool Manager, Aquatics Instructor and Lifeguard</p>

	</div>



	<p class="employment">After college, I taught in public schools for 9 years until my son was born.  I taught in two very diverse 
	communities, Euclid and Orange.  Solon is home to a very diverse community as 
	well, resulting in an amazing educational environment.</p>

</div>

<h1 style="clear: both;">Volunteer / Professional Experience / Affiliations / Community Involvement</h1>
<ul>
	<li>Classroom Volunteer at Lewis Elementary School</li>
	<li>Part of the core leadership team for SCAR (Solon Citizens Against Rezoning) Miles and 91: Issue 129</li>
	<li>Part of a group that spoke out to council to encourage the latest rental legislation including registration</li>
	<li>Volunteer with our church's senior high youth group</li>
	<li>Was part of curriculum evaluation committees when I taught</li>
	<li>Taught for 9 years in both an excellent performing district and an inner ring district, identifying with the obstacles both have to overcome</li>
	<li>Coached both boys and girls athletic teams, both for pay and on a volunteer basis</li>
</ul>

<h1>What makes me a qualified candidate?</h1>

<p>Having graduated from John Carroll University with both a degree in education concentrating on mathematics and 
a Master's degree in school administration, my decisions as a school board member will be made from an appreciation 
from many different views.  I was a classroom teacher in the Euclid City School District for 5 years, and also in 
the Orange City School District for 4 years. With my background in education, I feel I bring a unique understanding 
of the day-to-day operations, and the aims of the continuing spectrum of curriculum. Yet, this also can be coupled 
with a vision of what our dedicated Solon families want, within the fiscal responsibility of a resident, a school 
parent and taxpayer of the city. With my 9 years of experience directly in the field and many more with what the State 
has done through many different administrations and districts with regards to policy and unconstitutional funding, I feel 
my qualifications for this position would serve our residents and schools well.</p>
