<h1>Contact Chris Bryant</h1>

<p>Email: <a href="mailto:chrisbryant@ninegables.net">chrisbryant@ninegables.net</a></p>
<p>Phone: 440.318.1838</p>
<p>Twitter: <a href="https://twitter.com/bryant4solon" class="twitter-follow-button" data-show-count="false">Follow @bryant4solon</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script></p>
<p>Facebook Fan Page: <a href="http://www.facebook.com/Bryant4SolonSchoolBoard">http://www.facebook.com/Bryant4SolonSchoolBoard</a></p>
<p>Facebook: <a href="http://www.facebook.com/profile.php?id=100002694012806&sk=wall">http://www.facebook.com/profile.php?id=100002694012806&sk=wall</a></p>