<h1>Contact Chris Bryant</h1>

<p>Email: <a href="mailto:chrisbryant@ninegables.net">chrisbryant@ninegables.net</a></p>
<p>Phone: 440.318.1838</p>
<p>
	<a href="http://twitter.com/bryant4solon" ><img id="twitter" src="icon_twitter.gif" style="vertical-align: middle;" /></a>
	<a href="http://twitter.com/bryant4solon">@bryant4solon</a>
</p>
<p>
	<a href="http://www.facebook.com/Bryant4SolonSchoolBoard"><img id="facebook" src="icon_facebook.gif" style="vertical-align: middle;" /></a>
	<a href="http://www.facebook.com/Bryant4SolonSchoolBoard">Bryant 4 Solon School Board Fan Page</a>
</p>
<p>
	<a href="http://www.facebook.com/profile.php?id=100002694012806&sk=wall"><img id="facebook" src="icon_facebook.gif" style="vertical-align: middle;" /></a>
	<a href="http://www.facebook.com/profile.php?id=100002694012806&sk=wall">Chris Bryant</a>
</p>