<h1>Contact Chris Bryant</h1>

<p>Email: <a href="mailto:chrisbryant@ninegables.net">chrisbryant@ninegables.net</a></p>
<p>Phone: 440.318.1838</p>
<p>Follow Chris on Twitter: <a href="http://twitter.com/bryant4solon">@bryant4solon</a></p>
<p>Facebook Fan Page: <a href="http://www.facebook.com/Bryant4SolonSchoolBoard">http://www.facebook.com/Bryant4SolonSchoolBoard</a></p>
<p>Facebook: <a href="http://www.facebook.com/profile.php?id=100002694012806&sk=wall">http://www.facebook.com/profile.php?id=100002694012806&sk=wall</a></p>