<h1>Chris Bryant Needs Your Help!</h1>

<p>Considering making a financial contribution? You can donate to his campaign via Paypal:</p>

<div class="paypal">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHiAYJKoZIhvcNAQcEoIIHeTCCB3UCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAumK9NGwyozplTVp65eTjxdcAkBNU2hFyIn/j8psnHPbCV+zTJ8v6qrF7psy03FHAj1oJICQ/OnD4R7oAZCB8NIueFnsHZLTXCgUxKoAuzx0tN+wdTMp2eXZeJroBERpburogeomQKL8EL6L3Dq68uTg2XiFzt0FHBhI2ASKfW3zELMAkGBSsOAwIaBQAwggEEBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECEyVF18d+d+vgIHgv93zE3ZlM2A9c/JN994Dxzc9R4QQOW8pUUDEDCyBwmjTw7LbSTnzrEdHULl8rdMKwWU26IuzNmcY4UFwhuENqUYoPTquVbdjp2//IU4r2Ll5QhlYRuwl0i86PFgtE8yKFFr5sTb9K7ZIaq5JKJ4yxCFEoHu1+IH9VoqOw9RrxlbFxUm1nusgm7dAY59MN1MHbPlyZ/grzzdgLTdMB/+s/PYS2GcTeYkrhDTkhzQ0kU39g/40p2rpU3ONVlSS4TUeqaikwR9ZG3+iJ+ql1/40I8wPuzV7mp1MuOHlLiCzvTagggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMTA5MjEwMjExNThaMCMGCSqGSIb3DQEJBDEWBBS2hCAe8mZPwNQ7qyHGAaBTPtMuCzANBgkqhkiG9w0BAQEFAASBgITlfPmfk1Ojc9tIBhWKPfTXh+l0iB6cA284gB3ybiFgeSgV+uN1UII891n9EN5cVflfAz3rgyvxEJoayVTeL6vZjTNeARVS8jsVreSSITFiCy+aKYZtRvVH2KxTSH+UeR3jyMJl4g2JkPAhKhnkIVCQq6N4GwVnTow+549cNosf-----END PKCS7-----">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<p>
	His campaign can also accept checks made out to Friends of
	Chris Bryant. They can be mailed to:
</p>

<p>
	Friends of Chris Bryant<br>
	33860 Country View Lane<br>
	Solon, Ohio 44139
</p>

<p>
	Other ways to support Chris Bryant:
</p>
<ul>
	<li>Purchase a yard sign. $10 buys a sign for your yard
	and another for placement in a high traffic area in the
	city.</li>
	<li>Attend meet the candidate events next month.</li>
	<li>Tell all your friends and family that Chris Bryant is FOR
	our Solon schools and their continued excellence.</li>
</ul>
<p>
	If you would like to help Chris, please send an email to
	<a href="mailto:chrisbryant@ninegables.net">chrisbryant@ninegables.net</a> or call him at (440) 318-1838
	and leave a message.
</p>

<p>
	Go to <a href="www.facebook.com/Bryant4SolonSchoolBoard">www.facebook.com/Bryant4SolonSchoolBoard</a>
</p>