<h1>What Others Are Saying</h1>

<h2>Endorsed by the Chagrin Solon Sun Newspaper</h2>

<p class="endorsement-link">
	<a href="http://www.cleveland.com/solon/index.ssf/2011/09/bryant_glavin_seibert_for_solo.html">Bryant for Solon School Board: Chagrin Solon Sun Endorsement</a>
</p>

<h2>Endorsed by Dr. Kurt Stanic</h2>

<div class="endorsement">
	<img id="stanic" src="Stanic.png" alt="Kurt Stanic" class="thumb" style="width: 200px; margin-top: 0px;" />
	<p>
	Chris Bryant is most worthy of your consideration for Solon School Board.  
	As a parent and educator he has deep appreciation for the educational 
	opportunities that Solon Schools offer.  While he has a vested interest 
	in maintaining the strong school system because he is a parent,  Chris will 
	work hard for ALL students.  His background in education will serve Solon 
	citizens well as Chris understands not only the challenges of the classroom 
	but the successes and joys. Chris Bryant is not politically motivated, 
	he is a parent, an educator and an active citizen of Solon.  He would be a 
	smart vote for Solon School Board.</p>
	<span class="source">&mdash; Dr. Kurt Stanic
</div>

<p>Dr. Kurt Stanic is a former Superintendent with 22 years of experience in Ohio.</p>
<ul>
	<li>Black River Local School District</li>
	<li>Euclid City School District</li>
	<li>Parma City School District</li>
	<li>North Olmsted School District</li>
	<li>Dayton Public Schools</li>
</ul>

<div class="endorsement">
	<p>
	I can only hope that there is a place in Solon politics for an individual
	who is not aligned to a particular political party, but has both the
	interests of the children and the city of Solon at heart. Good luck,
	Chris!</p>
	<span class="source">&mdash; Bill Maire</span>
</div>

<div class="endorsement">
	<p>
	I have known Chris for his whole life- I am one of his former Sunday
	School teachers and Youth Leaders. There are so many things I
	wish I had the time and space to share with you about Chris but the
	thing I admire the most about Chris is his compassionate care for his
	older brother who has multiple disabilities and challenges. Having
	that added perspective and knowledge of the difficulties parents face
	with other -abled children would be beneficial for the school board
	position. Chris is a man of great integrity who would work very hard
	for the city of Solon.</p>
	<span class="source">&mdash; Pastor Roberta Fuller</span>
</div>

<div class="endorsement">
	<p>
	It is with endless gratitude that we write this message on be half
	of Chris Bryant. This man is a true blessing. Being our son's 6th
	grade math teacher at Brady Middle School in Orange, Chris stayed
	connected with my son Kevin over the last decade plus. Chris Bryant
	is a man of outstanding values, principles, dedication, interest in
	children's education, and truly sincere every day to day activities.
	Our son Kevin still talks and follows through on what Mr. Chris Bryant
	talks about in the classroom.  We truly feel Chris Bryant will be an
	asset to the Solon Schools. His amazing way with children/parents is
	a set for success right from the start. How many people on the School
	Board are teachers? Mr. Chris Bryant is! On November 8 when you
	go to vote  remember the man who will make a difference for the
	Solon Schools. Mr. Chris Bryant. With much appreciation,</p>
	<span class="source">&mdash; Debbie and Steve Friedman</span>
</div>

<div class="endorsement">
	<p>
	Chris Bryant was a tremendous influenece on me as my 6th grade
	teacher. His passion for math has lived on in me throughout my
	eduucation. I have graduated from college with a BA in Economics. I
	can safely say without Chris I would not have loved school the way I
	did. Chris would be a true asset to the Solon School Board. Anybody
	would be lucky to have him!</p>
	<span class="source">&mdash; Kevin Friedman</span>
</div>

<div class="endorsement">
	<p>
	Many are convinced that what matters most in making schools
	successful—more than class size or curriculum— is excellent
	teaching. I am African American female and an alumnus of the
	Orange School District and had the pleasure of having Mr. Bryant as
	my 6th grade teacher. As I am currently finishing up my last semester
	of school at St. Louis University in the Doctoral of Physical Therapy
	program, I have had plethora of teachers. Astonishingly I have spent
	18 years in educational institutions and my 6th grade year with Mr.
	Bryant still resonates in my head. Mr. Bryant was an amazing teacher
	who was talented and passionate and was given the freedom and
	support to teach well and to me it was 100 times more important than
	anything else. To be honest, I am a student who has a strong distaste
	for Mathematics but this was not the case during the 6th grade year
	when I was in his classroom. In general, I think he would be a great
	asset to the Solon School District and I could give testimonials all day
	about why he would be the best for this position.</p>
	<span class="source">&mdash; Briana Motley DPT</span>
</div>

<div class="endorsement">
	<p>
	Chris Bryant was my math and science teacher for 6th grade. He
	always went the extra mile to do whatever was necessary for his
	students (including personally calling me and my family to check in
	and make sure I was ok when I was taking the death of a teacher
	particularly hard) and really instilled his enthusiasm and love of
	learning in me. I'm currently working towards my masters degree and
	have plans to get my Ph.D. in forensic anthropology. I must admit
	that Chris played a big part in fostering my love of all things science-
	related and wholeheartedly agree that he would greatly benefit the
	Solon School District by being appointed to the Board.</p>
	<span class="source">&mdash; Aryn Klein</span>
</div>

<div class="endorsement">
	<p>
	Christian Bryant was my math teacher in the 5th and 6th grade. I am
	now a senior at the Kent State University studying criminal justice and
	I still use tools that he taught me. Mr. Bryant always put his students
	and education first. He also always made students want to learn and
	interact more. There is no doubt in my mind that he would make a
	wonderful asset to the Solon School Board. I am more than sure
	that he could do so much for Solon's education . . . . No one is more
	qualified . . . . Good luck Mr. B!!</p>
	<span class="source">&mdash; Ricky Jackson</span>
</div>

<div class="endorsement">
	<p>
	Chris Bryant was not only my 6th grade math teacher, but a great
	inspiration to me as well. While he took the curriculum seriously to
	ensure that every student learned the necessary topics, he also
	made learning fun! Chris was such a memorable teacher because
	he was always enthusiastic, energetic, and had a positive outlook.
	Chris took a personal interest in every one of his students to make
	sure that we were having a great learning experience. I remember
	being in his class and I try to maintain his mentality towards learning
	in my life still to this day. As a sixth grader I broke my arm in gym
	class during the school year and I remember we had a math test
	the next day and Chris was more worried about whether I was okay
	then whether or not I could take the test. Of course I was pretty
	disappointed at having a broken arm as any sixth grader would be,
	but during homeroom Chris would joke with me about it to the point
	where I was laughing instead of being upset. Even recently Chris
	contacted me just to see how I was doing, offered me his networking
	contacts to help me professionally, and still continued to give me
	incredibly sound advice. I graduated in 2009 with a BA in marketing
	from Miami University, and I currently own a women’s clothing store,
	Glissful Boutique in Chesterland. Chris is a great teacher, leader, and
	inspiration; he definitely deserves this position!!</p>
	<span class="source">&mdash; Michelle Graneto</span>
</div>
