<h1>Upcoming Events</h1>

<h2>October 3rd, Meet the Candidates Night from 7 p.m. &mdash; 9 p.m. at the Solon Middle School</h2>

<p>This event is open to the public, and is being co-sposored by the Solon Council of
PTAs and the Solon Educators Association.</p>

<p>The first half of the program will be in the Solon Middle School Lecture Hall and be
formal, in that it will be a moderated and opportunity for the candidates to present
their qualifications and views.</p>

<p>The second half of the program will continue in the Solon Middle School cafeteria
where the community will be able to interact with the candidates in a “meet and
greet” setting.</p>

<p>I will be attending this event and hope to see you there!</p>

<h2>October 18th, Candidates Night for the Solon School Board starting at 7:00 p.m. at
the Solon Community Center</h2>

<p>This event is open to the public, and being sponsored by the Southeast Republican’s.
This, too, will be a moderated event by the members of their organization with
opportunities for the candidates to express themselves and answer questions
presented to them.</p>

<p>I will be attending this event and hope to see you there!</p>