<% @menu = "home" %>

<img id="head" class="thumb" src="/chris.jpg" alt="Chris Bryant" />

<p>It is not a coincidence that Solon has been the #1 school district in the state of Ohio,
and continues to be rated in the top 5 out of over 600 districts. Solon has children and
young adults that come from families that are committed to their children's efforts and
learning. The commitment of time, monies and efforts by community members and the
district's amazing PTAs and supporters of their programs are second to none. Solon's
exceptional teachers provide our students with opportunities to excel daily.</p>

<p>The Solon Schools are fortunate to have as their leadership people who have continued
to serve for the schools and the board through multiple terms. A successful school
district is the product of the total community working together for the benefit of the
students' and their success. In November, Solon voters will be asked to make an
important decision. They will elect three school board members. We ask that you use
one of your votes for Chris Bryant! He will bring experience and commitment to the seat.</p>

<p>As a member of the Solon City School Board, Chris Bryant will insure that the Solon
Schools continue to provide opportunities where children can achieve excellence
that is second to none.  He will oversee that these programs provide our students the
opportunities to succeed today and into the future. Our schools should provide a SAFE
haven, where, in a partnership with our families, our students are best prepared for
adulthood. Chris Bryant will also defend our residents and businesses to best keep our
locally generated funds here in Solon.</p>

<p><b>Who is Chris Bryant? He is someone that will insure the excellence of the Solon
City Schools!</b></p>
