<% @menu = "involved" %>

<h1>Chris Bryant needs your help!</h1>

<ul>
	<li>Maybe it's hosting a backyard get together where you and your neighbors can meet him, share your pride for our schools and voice concerns...</li>
	<li>Purchasing a yard sign for your yard...</li>
	<li>Purchasing a T-Shirt...</li>
	<li>Offering to mail something to your friends...</li>
	<li>Making a financial or time contribution...</li>
	<li>Or, simply telling all your friends and family that Chris Bryant is <b>FOR</b> our Solon schools and their continued excellence.</li>
</ul>

<p>If you would like to help Chris, please send an email to <a href="mailto:chrisbryant@ninegables.net">chrisbryant@ninegables.net</a> or call him at (440) 318-1838 and leave a message.</p>

<p>Go to <a href="http://www.facebook.com/Bryant4SolonSchoolBoard">www.facebook.com/Bryant4SolonSchoolBoard</a></p>