<!doctype html>
<html>
	<head>
		<title>Chris Bryant - Solon School Board</title>
		<link href="base.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="title">
					<h1>&#9745; CHRIS BRYANT</h1>
					<h2>SOLON SCHOOL BOARD 2011</h2>
				</div>
			</div>
			
			<div id="content">
				<div id="sidenav">
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/about">ABOUT ME</a></li>
						<li><a href="/why">WHY I AM RUNNING</a></li>
						<li class="sub"><a href="/continue">CONTINUING SUCCESS</a></li>
						<li class="sub"><a href="/face">FACING THE ISSUES</a></li>
						<li><a href="/donate">DONATE</a></li>
						<li><a href="/involved">GET INVOLVED</a></li>
						<li><a href="/endorsements">WHAT OTHERS ARE SAYING</a></li>
						<li><a href="/topten">TOP TEN REASONS TO VOTE FOR CHRIS</a></li>
					</ul>
				</div>
				<div id="content-body">
					<%= yield %>
				</div>
			</div>
			
		</div>
		
		<div id="footer">
			<!-- &#10004; -->
			<p>Paid for by the "Friends of Chris Bryant"</p>
			<p>Treasurer Rob Cox, 33860 Country View Lane, Solon, OH 441239 (440) 318-1838</p>
			<p>bryant4solonschools@ninegables.net</p>
		</div>

	</body>
</html>