<h1>In The News</h1>

<h2>Chagrin Solon Sun</h2>
<p>Bryant for Solon School Board: Chagrin Solon Sun Endorsement</p>
<p><a href="http://www.cleveland.com/solon/index.ssf/2011/09/bryant_glavin_seibert_for_solo.html">http://www.cleveland.com/solon/index.ssf/2011/09/bryant_glavin_seibert_for_solo.html</a></p>

<h2>Solon Patch</h2>
<p>Solon School Board Election 2011: Chris Bryant</p>
<p><a href="http://solon.patch.com/articles/solon-school-board-election-2011-chris-bryant">http://solon.patch.com/articles/solon-school-board-election-2011-chris-bryant</a></p>
<p>Read the great <a href="http://solon.patch.com/articles/solon-school-board-election-2011-chris-bryant#comments">Comments</a>!</p>
