<h1>Top 10 Reasons to Vote for Chris Bryant for Solon School Board</h1>

<ul id="topten">
	<li>1. Because Solon wants excellent schools!</li>
	<li>2. He respects what Solon parents do!</li>
	<li>3. He has a child in the district.</li>
	<li>4. He dotted the "I" in his high school marching band.</li>
	<li>5. He respects what Solon educators do.</li>
	<li>6. He is <strong>NOT</strong> a former Mayor! <em>(C'mon you know that made you smile)</em></li>
	<li>7. Because he respects the taxpayers' burden.</li>
	<li>8. If you vote for him, you still have two votes left.</li>
	<li>9. Stay-at-home Dad = Flexible hours and availability.</li>
	<li>10. You will get a cool "I voted" sticker at the polls.</li>
</ul>

