<h1>Top 10 Reasons to Vote for Chris Bryant for Solon School Board</h1>

<ul id="topten">
	<li>10. Endorsed by the Chagrin Solon Sun News</li>
	<li>9. Stay-at-home Dad = Flexible Hours and Availability</li>
	<li>8. If you vote for him, you STILL have 2 votes left.</li>
	<li>7. He respects the taxpayers' burden.</li>
	<li>6. <strong>NOT</strong> a former Mayor <em>(C'mon, that made you smile)</em></li>
	<li>5. He respects what Solon's educators do.</li>
	<li>4. He dotted the "I" in his high school marching band.</li>
	<li>3. He has a child in the district.</li>
	<li>2. He respects what Solon parents do!</li>
	<li>1. Solon wants excellent schools!</li>
</ul>

