<% @menu = "why" %>

<h1>Why I am running for Solon School Board</h1>

<p>I am running for a seat on the Solon School Board for multiple reasons. The most important one to me personally is my 7 year old son who attends school in the district.  He is very early on in the journey that will see him graduate a Solon Comet with a love for learning and a set of tools that come from the relationships, experiences and lessons he will have in this district. Secondly, I believe I bring a skill set and experiences that are unique and would serve the city, schools and board well.  Lastly, I think the flexibility that being a stay-at-home Dad provides can allow me to take on an active role that may require daytime commitments, possibly in Columbus lobbying the State, collaborating with our in house and other professionals, or just being able to support our day to day observations that take place during the normal business day.</p>

<p>In talking to many people in Solon this Summer and Fall, most have asked, "What is my stance?"  Here is the short answer. My family moved here because of the schools.  I want to ensure that our Solon schools continue to lead the way, as they have, and provide for future generations of Comets so that when they graduate they are either sought after by Universities for further education, or are ready to enter into the world as model citizens in whatever endeavors they choose.</p>
